<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Vladysymo">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#000">
    <title>Node.js project</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
</head>
<body>
    
    <!-- Content -->
    <h1>NODE.JS PROJECT</h1>
    <a href="#" class="btn">Send to server</a>
    <div class="log">
        
    </div>
    <!-- /Content -->

    <script src="js/main.js"></script>
    
</body>
</html>